<h1>マイページ</h1>
<%= link_to "取得資格追加", new_users_qualification_path, :class => "btn" %>
<br>
<table class="table table-bordered">
	<!-- ログインしているユーザの取得している資格を取得 -->
	<% current_user.users_qualifications.each do |users_qualification| %>
	<tr>
		<td><%= users_qualification.qualification.name %></td>
        <td><%= link_to 'Edit', edit_users_qualification_path(users_qualification), :class => 'icon-pencil' %></td>
        <td><%= link_to 'Destroy', users_qualification, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove' %></td>
	</tr>
	<% end %>
</table>